!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :"xml:lang" =>"en", :lang =>"en"}
  %head
    %title== Roosterbear
    %script{:type => "text/JavaScript", :src => "../rounded_corners.inc.js"}
    %script{:type => "text/JavaScript", :src => "../init.js"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "../style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "../library.css"}
    %link{:rel => "shortcut icon", :href => "../favicon.ico"}
  %body
    #header
      #nav
        %a{:href => "/"}
          View Your Posts &raquo;
      #title
        = "#{@user}'s Growlclucks"
      #logout
        - if session[:openid]
          %a{:href => "logout"}
            Logout
            %strong
              = @username
    #content
      - if @user
        - @entries.each do |post|
          - post.each do |entry, user|
            .bubble
              .rounded
                %blockquote
                  = auto_html(escaped entry)
              %cite.rounded
                = user
    :javascript
      settings = {
      tl: { radius: 10 },
      tr: { radius: 10 },
      bl: { radius: 10 },
      br: { radius: 10 },
      antiAlias: true,
      autoPad: true
      }
      var myBoxObject = new curvyCorners(settings, "rounded");
      myBoxObject.applyCornersToAll();